

<%# <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%# <%= f.error_notification %> 

  <%# <div class="form-inputs"> %>
    <%# <%= f.input :username, %>
                <%# required: true, %>
                <%# autofocus: true, label:false, %>
                <%# input_html: { autocomplete: "username" }%> 
    <%# <%= f.input :password, %>
                <%# required: true, label:false, %>
                <%# input_html: { autocomplete: "new-password" } %
    <%# <%= f.input :password_confirmation, label:false, %>
                <%# required: true, %>
                <%# input_html: { autocomplete: "new-password" } %> 
  <%# </div> %>

  <%# <div class="form-actions"> %>
    <%# <%= f.button :submit, "Register" %> 
  <%# </div> %>

  <div class="w3-container w3-card w3-light-grey w3-center" style="width:60%;margin:auto; max-width:650px;">
  <p style="font-size: 28px;"> Register </p>
  <br>
   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
      <%= f.error_notification %>
      <%= f.input :username, label: false, required: true,
          input_html: {class: "w3-input"}, wrapper: false, style: "margin-bottom: 5px;",
          label_html: {class: "label"}, placeholder: "Username"             
      %>
      <%= f.input :name, label: false,
          input_html: {class: "w3-input"}, wrapper: false, required: true,
          label_html: {class: "label"}, placeholder: "Full Name"             
      %>
      <%= f.input :email, label: false,
          input_html: {class: "w3-input"}, wrapper: false, required: true,
          label_html: {class: "label"}, placeholder: "E-Mail"             
      %>
      <%= f.input :password, label: false,
          input_html: {class: "w3-input"}, wrapper: false, required: true,
          label_html: {class: "label"}, placeholder: "Password"             
      %>
      <%= f.input :password_confirmation, label: false,
          input_html: {class: "w3-input"}, wrapper: false, required: true,
          label_html: {class: "label"}, placeholder: "Confirm Password"             
      %>
      <hr>
      <%= f.button :submit, class: "w3-button w3-theme" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

