<div class="w3-card w3-round w3-white" style="margin-left: 10px; padding: 10px; min-width: 250px; width: 90%; margin-right: 10px;">
    <p style="font-size: 24px;"> Friends </p>

    <hr/>

    <% if @user == current_user %>
        <div class="w3-container" style="padding: 0px;">
            <p style="font-size: 18px;"> Friend Requests (<%= current_user.requested_friends.size %>) </p>    
            <% current_user.requested_friends.each do | f | %>
                <div class="w3-container w3-card w3-round w3-margin" style="background-color: #f3f3f3; padding: 2px 5px 5px; position: relative; margin: 0px;" >
                    <div class="w3-left">
                        <% if f.avatar.attached? %>
                            <%= image_tag f.avatar, class: "w3-circle avatar w3-left w3-margin-right w3-left", :style => "display: inline;" %>
                        <% else %>
                            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <% end %>
                    </div>
                    <h6 class="w3-left"><%= link_to f.name, "/users/#{f.id}" %> </h6>
                    <p class="w3-left">&nbsp;|&nbsp;</p>
                    <p class="w3-left"><strong><%= link_to "@"+f.username, "/users/#{f.id}" %></strong></p>
                    <%= link_to "/users/reject/#{f.id}",  method: :delete, class: "w3-button w3-theme-d2 w3-margin-bottom w3-right w3-margin-left", style: "margin: auto;" do%>
                        <i class="fas fa-times"></i>
                    <% end %>
                    <%= link_to "/users/accept/#{f.id}",  method: :put, class: "w3-button w3-theme-d2 w3-margin-bottom w3-right w3-margin-left", style: "margin: auto;" do%>
                        <i class="fas fa-check"></i>
                    <% end %>
                </div >
            <% end %>
        </div>

        <hr />

        <div class="w3-container" style="padding: 0px;">
            <p style="font-size: 18px;"> Sent Requests (<%= current_user.pending_friends.size %>) </p>    
            <% current_user.pending_friends.each do | f | %>
                <div class="w3-container w3-card w3-round w3-margin" style="background-color: #f3f3f3; padding: 2px 5px 5px; position: relative; margin: 0px;" >
                    <div class="w3-left">
                        <% if f.avatar.attached? %>
                            <%= image_tag f.avatar, class: "w3-circle avatar w3-left w3-margin-right w3-left", :style => "display: inline;" %>
                        <% else %>
                            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <% end %>
                    </div>
                    <h6 class="w3-left"><%= link_to f.name, "/users/#{f.id}" %> </h6>
                    <p class="w3-left">&nbsp;|&nbsp;</p>
                    <p class="w3-left"><strong><%= link_to "@"+f.username, "/users/#{f.id}" %></strong></p>
                    <%= link_to "/users/cancelrequest/#{f.id}",  method: :delete, class: "w3-button w3-theme-d2 w3-margin-bottom w3-right w3-margin-left", style: "margin: auto;" do%>
                        <i class="fas fa-times"></i>
                    <% end %>
                </div >
            <% end %>
        </div>

        <hr />

    <% end %>

    <div class="w3-container" style="padding: 0px;">
            <p style="font-size: 18px;"> Friend List (<%= @friends.size %>) </p>    
            <% @friends.each do | f | %>
                <div class="w3-container w3-card w3-round w3-margin" style="background-color: #f3f3f3; padding: 2px 5px 5px; position: relative; margin: 0px;" >
                    <div class="w3-left">
                        <% if f.avatar.attached? %>
                            <%= image_tag f.avatar, class: "w3-circle avatar w3-left w3-margin-right w3-left", :style => "display: inline;" %>
                        <% else %>
                            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <% end %>
                    </div>
                    <h6 class="w3-left"><%= link_to f.name, "/users/#{f.id}" %> </h6>
                    <p class="w3-left">&nbsp;|&nbsp;</p>
                    <p class="w3-left"><strong><%= link_to "@"+f.username, "/users/#{f.id}" %></strong></p>
                    <% if @user == current_user %>
                        <%= link_to "/users/delete/#{f.id}",  method: :delete, class: "w3-button w3-theme-d2 w3-margin-bottom w3-right w3-margin-left", style: "margin: auto;" do%>
                            <i class="fas fa-times"></i>
                        <% end %>
                    <% end %>
                </div >
            <% end %>
    </div>

</div>