
<%# <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %> 
  <%# <%= f.error_notification %> 
<%#  %>
  <%# <div class="form-inputs"> %>
    <%# <%= f.input :email, %>
                <%# required: true, %>
                <%# autofocus: true, %>
                <%# input_html: { autocomplete: "email" } %> 
  <%# </div> %>
<%#  %>
  <%# <div class="form-actions"> %>
    <%# <%= f.button :submit, "Send me reset password instructions" %> 
  <%# </div> %>
<%# <% end %> 


<div class="w3-container w3-card w3-light-grey w3-center" style="width:60%;margin:auto; max-width:650px;">
  <p style="font-size: 28px;"> Reset Password </p>
  <br>
   <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|%>
      <%= f.error_notification %>
      <%= f.input :email, label: false,
          input_html: {class: "w3-input"}, wrapper: false, style: "margin-bottom: 5px;",
          label_html: {class: "label"}, placeholder: "E-Mail Address"             
      %>
      <hr>
      <%= f.button :submit, "Send Instructions", class: "w3-button w3-theme" %>
    <% end %>

<%= render "devise/shared/links" %>

</div>
